
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* CSS HEX */
    --dark-cornflower-blue: #1e3888ff;
    --pacific-blue: #47a8bdff;
    --corn: #f5e663ff;
    --rajah: #ffad69ff;
    --big-dip-oruby: #9c3848ff;

    /* CSS HSL */
    --dark-cornflower-blue: hsla(225, 64%, 33%, 1);
    --pacific-blue: hsla(191, 47%, 51%, 1);
    --corn: hsla(54, 88%, 67%, 1);
    --rajah: hsla(27, 100%, 71%, 1);
    --big-dip-oruby: hsla(350, 47%, 42%, 1);

    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    background-color: var(--dark-cornflower-blue);
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
    background-color: var(--pacific-blue);
    border-bottom-color: yellow;
}

#moth-pic {
    border-radius: 50px 50px 50px 50px;

}


#moth-content1, #moth-content2 {
    background-color: var(--corn);
    border-radius: 50px 50px 50px 50px;    
}

#head1, #head2 {
    font-size: 30px;
    font-weight: bolder;

}

#user-results {
    font-weight: 200px;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }
